<p>Buying a vehicle is a dream for many. Owning a car or a bike gives you the freedom to commute at your own time and pace. However, with every passing year, the prices of vehicles are increasing. Thanks to the growing lending sector in India, you can easily apply for a Vehicle Loan to fulfil your dream of owning a vehicle. Read on to understand what a Vehicle Loan is and its various types and features.
<br>
    Vehicle Loan – Meaning<br>
    A Vehicle Loan is a loan that allows you to purchase two and four wheelers for personal use. Typically, the lender loans the money (making a direct payment to the dealer on the buyer’s behalf) while the buyer must repay the loan in Equated Monthly Instalments (EMIs) over a specific tenure at a specific interest rate. The EMI comprises a portion of the principal amount and the interest component. Once you repay the loan in full, the lender transfers the vehicle registration in your name.
    <br>
    You can also apply for a Vehicle Loan to buy these vehicles to transport goods or company personnel. Common examples of commercial vehicles include buses, trucks, tractors, tippers, cabs, etc.
    <br>

    Your eligibility for a Vehicle Loan depends on your credit score and net (in hand) monthly income. Most lenders offer 75% to 100% of the vehicle's on-road price, based on its type and price. You can also get a loan to buy pre-owned cars and other previously used vehicles.
    <br>
    Types of Vehicle Loans in India<br>
    Today, you can take on a Vehicle Loan to buy various kinds of vehicles in India. Below are the most common types of Vehicles Loans offered by Indian lenders.
    <ul>
    <li> Car Loans</li>
    You can get a Car Loan to purchase a brand-new car of your preferred brand. Lenders generally offer up to 90% financing of the car's on-road price, while you have to pay the remaining 10% as a down payment. The on-road price of a new car includes the ex-showroom price, Regional Transport Office (RTO) registration charges, insurance costs, road tax, etc. A Car Loan generally comes with a seven-year repayment tenure. You can repay the Car Loans in affordable EMIs over your chosen tenure.
    <br>
    <li>Two-Wheeler Loans</li>
    A Two-wheeler is an excellent vehicle that allows you to navigate traffic, especially in a densely-populated city. It is compact, requires less fuel and helps you cover shorter distances comfortably. With Two-Wheeler Loans, you can buy geared motorbikes and non-geared scooters. Most lenders offer up to 100% financing on Two-Wheeler Loans, with a maximum repayment tenure of five years. The maximum financing offered on such loans is up to Rs 10 Lakh. Once again, you need to provide your income proof and credit scores to be considered for this loan.
    <br>
    <li>
    • Pre-owned Car Loans|</li>
    Another type of Vehicle Loan you can opt for is a pre-owned Car Loan. Purchasing a pre-owned car is a cost-efficient alternative to buying a brand-new car. Lenders generally offer up to 75% financing against pre-owned cars. The car is hypothecated with the lender till the repayment period ends and you repay all EMIs. However, the car's age and the new repayment period should not exceed eight years.
    <br>
    What Are The Features Of A Vehicle Loan?
    The following are some of the salient features of a Vehicle Loan.
    
    • High-value financing
    Lenders usually offer vehicle financing starting from 75% to 100%. As such, you need not worry about putting down hefty down payments.
    
    • Competitive interest rates
    Vehicle Loans are secured loans, i.e., the purchased vehicle serves as collateral with the lender until you repay the loan in full. Due to this secured nature, lenders typically levy a lower interest rate against these loans.
    
    • Speedy disbursals
    Lenders typically disburse the funds directly to the vehicle dealer, allowing you to purchase and register your vehicle instantly.
    
    • Flexible repayment terms
    Repayment tenures range from a year to 84 months, depending on the type of Vehicle Loan you need. Two Wheeler Loans and Commercial Vehicle Finance come with a five year repayment period, while you can repay your new Car Loan over seven years.
    
    • Eligibility criteria
    You can apply for the loan as long as you can show the minimum net monthly income (across the corresponding Vehicle Loan) and a good credit score exceeding750 points.
    
    • Loan processing and prepayment
    Lenders levy minimal loan processing charges against Vehicle Loans. You can also prepay your loan before the stipulated tenure without incurring any penalties.
    
    • Hassle-free documentation
    Most lenders allow you to apply for a Vehicle Loan online without any physical documentation. You only need to provide scanned copies of your ID, address, and income proof documents.
    
    New Car Loan Vs Used Car Loan
    You can choose between buying a new or used car using the loan facility. Here's how the two loans differ.
    
    • Affordability and maintenance costs
    Used cars are usually a lot more affordable and ideal for people who have recently learned to drive. Depending on the age of the used car, it may require regular maintenance from time to time, which can lead to added costs. A new car may seem expensive at face value. However, it typically runs smoothly for years without incurring extra maintenance costs.
    
    • Repayment tenure
    The repayment tenure for a new Car Loan is longer than that for a pre-owned Car Loan. You can repay a new Car Loan over the span of 84 months. However, the tenure for Pre-owned Car Loans is capped at 60 months.
    
    • Warranty
    New cars come with a free manufacturer warranty. The car manufacturer promises to repair the vehicle or replace certain mechanical or electronic components of the car during the warranty period without levying any additional costs. This warranty generally lasts for two to three years or up to a certain number of kilometres driven. By the time the car is put up for sale, the manufacturer's warranty may end. Used cars generally come without a manufacturer warranty. Depending on the car's age, you may obtain a warranty for a used car, but you have to pay additional charges.
    
    • Insurance premiums
    Whether you own a new or a pre-owned car, you need to purchase car insurance per the Motor Vehicle Act of 1988. New cars have a higher Insured Declared Value, i.e., is the maximum amount you can get when you file an insurance claim. Due to a higher IDV, insurance premiums for new cars are higher than for used cars. Insurers usually offer a lower IDV for pre-owned cars.
    
    • Financing
    Most lenders offer up to 90% of a new car's on-road price as the loan amount, thus reducing your down payment considerably. For a used car, you can get up to 75% financing.
    
    • Car's age
    Pre-owned cars must fulfil specific criteria to be deemed eligible for purchase, one of which is the car's age. Starting from the car's invoice date and including the repayment period, the age of the used car should be no more than 96 months. This criterion does not apply to new cars.